<footer class="footer">
    <div class="footer__container container">
        <ul class="footer__row row d-flex">
            <li class="footer__col col col-3">
                <a href="#" class="foooter__logo logo">
                    <img src="img/logo_blue.png" alt="Логотип">
                </a>
                <ul class="footer__contacts contacts-block">
                    <li class="contacts-block__item">
                        <i class="contacts-block__icon"></i>
                        <a href="#" class="contacts-block__link">2005-2018 МС-проект</a>
                    </li>
                    <li class="contacts-block__item">
                        <i class="contacts-block__icon"></i>
                        <a href="#" class="contacts-block__link">+7(812) 610-02-26</a>
                    </li>
                    <li class="contacts-block__item">
                        <i class="contacts-block__icon"></i>
                        <a href="#" class="contacts-block__link">ms-proekt@ms-proekt.ru</a>
                    </li>
                </ul>
                <ul class="footer__social social d-flex">
                    <li class="social__item">
                        <a href="#" class="social__link"></a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link"></a>
                    </li>
                </ul>
            </li>
            <li class="footer__col col">
                <h3 class="footer__title">О нас</h3>
                <ul class="footer__menu menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">История</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Партнеры</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Документы</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Отзывы</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Контакты</a>
                    </li>
                </ul>
            </li>
            <li class="footer__col col">
                <h3 class="footer__title">Продукция</h3>
                <ul class="footer__menu menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Системы управления добычи нефти</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Комплектация УЭЦН</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Материалы и сырье для производства кабельной продукции</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Оборудование для эксплуатации и ремонта скважин</a>
                    </li>
                </ul>
            </li>
            <li class="footer__col col">
                <h3 class="footer__title">Сервис</h3>
                <ul class="footer__menu menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Ремонт гидравлических ключей</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Ремонт спайдеров</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Тестирование и калибровка КСУ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Модернизация КСУ</a>
                    </li>
                </ul>
            </li>
            <li class="footer__col col">
                <h3 class="footer__title">Документы</h3>
                <ul class="footer__menu menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Система качества</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Сертификаты</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Техническая документация</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Реквизиты</a>
                    </li>
                </ul>
            </li>
            <li class="footer__col col">
                <h3 class="footer__title">Пресс-центр</h3>
                <ul class="footer__menu menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Интересные факты</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Новости</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Фотогалерея</a>
                    </li>
                </ul>
            </li>
            <li class="footer__col col">
                <h3 class="footer__title">Контакты</h3>
                <ul class="footer__menu menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Головной офис</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Филиалы/ОП</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Обратная связь</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
<script src="js/main.js"></script>
</body>

</html>