<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>test</title>
</head>

<body>
    <header class="header header-main">
        <div class="header__container container">
            <div class="header__top d-flex">
                <a href="#" class="header__logo">
                    <img src="../img/logo.png" alt="Логотип">
                </a>
                <div class="header__contacts d-flex">
                    <a href="tel:+78126100226" class="header__number number">+7 (812) 610-02-26</a>
                    <a href="mailto:ms-proekt@ms-proekt.ru" class="header__mail mail">ms-proekt@ms-proekt.ru</a>
                </div>
                <div class="header__language language d-flex">
                    <button class="language__item language__item_active" type="button">Русский</button>
                    <button class="language__item" type="button">English</button>                
                </div>
                <div class="header__address address">
                    <div class="address__icon"></div>
                    <p class="address__text">Санкт-Петербург, ул. Професора Попова, д. 23, лит. М </p>
                </div>
            </div>
            <nav class="header__bottom">
                <ul class="menu d-flex">
                    <li class="menu__item">
                        <a href="#" class="menu__link">О компании</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Продукты</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Сервис</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Документы</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Пресс-центр</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>



 