/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/


/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/


/*= ../../bower_components/magnific-popup/dist/magnific-popup.css*/

@import "partials/vars";
@import "partials/mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0px 0px 10px;
}

body {
    font-family: $font-montserrat;
    min-width: 320px;
    font-size: rem(18px);
    line-height: normal;
    background-color: #ffffff;
    color: $color-dark;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    width: 100%;
    flex: 1;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

a,
button {
    cursor: pointer;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.overflow {
    overflow: hidden;
}

.container {
    max-width: 1165px;
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

.row {
    margin-left: -$spacing;
    margin-right: -$spacing;
    list-style: none;
}

.col {
    padding-left: $spacing;
    padding-right: $spacing;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.box-center {
    text-align: center;
}

input,
textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    padding: 0px 13px;
    font-family: $font-roboto;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    width: 100%;
    resize: none;
    height: 36px;
    outline: none;

    @include inputPlaceholder() {
        color: rgba(#fff, 0.65);
    }
}

.form__input,
.form__textarea {
    &:before {
        content: '';
    }
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 25px;
    line-height: 28px;
}

.title {
    color: #fff;
    font-weight: 300;

    &_h1 {
        font-size: 55px;
    }

    &_h2 {
        font-size: 44px;
        margin: 0px 0px 35px;
    }

    &_h3 {
        font-size: 25px;
        line-height: 28px;
    }

    &__sub {
        font-size: 30px;
        font-weight: 300;
    }
}

.btn {
    border: none;
    display: inline-block;
    background-color: #fff;
    color: $color-blue;
}

.header {
    color: #fff;
    padding: 33px 0px 30px;
    background-image: url(../img/header-back.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 290px;

    &-page {
        .header__circle:before {
            height: 55px;
        }
    }

    &-main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-image: none;
    }

    &__logo {
        margin-left: -75px;
    }

    &__contacts {
        flex-direction: column;
        margin-left: 70px;
    }

    &__top {
        align-items: center;
        justify-content: space-between;
    }

    &__bottom {
        justify-content: space-between;
        align-items: center;
        margin-top: 37px;
    }

    &__menu {
        flex: 1 0 auto;
        margin-left: 11px;
    }

    &__address {
        width: 303px;
        font-size: 13px;
        line-height: 21px;
        color: #fff;
        align-items: center;
        margin-left: auto;
    }

    &__mail {
        padding: 10px 0px 5px;
        margin-left: 23px;
    }

    &__number {
        position: relative;
        padding: 5px 0px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.050em;

        &:after {
            content: '';
            position: absolute;
            background-image: url(../img/border-number.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            width: 90%;
            height: 2px;
            z-index: 999;
            bottom: 0;
            left: 20px;
        }
    }

    &__language {
        margin-left: 60px;
    }

    &__circle {
        width: 62px;
        height: 62px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-left: -31px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(0, rgba(255, 255, 255, 0)));
            background-image: linear-gradient(to top, #fff 30%, rgba(255, 255, 255, 0) 0);
            background-position: left;
            background-size: 2px 6px;
            background-repeat: repeat-y;
            width: 2px;
            height: 35px;
            z-index: 999;
            left: 49%;
            top: -40px;
        }


        &:before {
            content: '';
            position: absolute;
            background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(0, rgba(255, 255, 255, 0)));
            background-image: linear-gradient(to top, #fff 30%, rgba(255, 255, 255, 0) 0);
            background-position: left;
            background-size: 2px 6px;
            background-repeat: repeat-y;
            width: 2px;
            height: 300px;
            z-index: 999;
            left: 49%;
            top: calc(100% + 4px);
        }
    }
}

.header__bottom .menu__item {
    flex: 1 1 auto;
    text-align: center;
    padding: 0px 10px;
    letter-spacing: 0.050em;

    &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}

.header__bottom .menu__item:last-child:after {
    display: none;
}

.language {
    border-radius: 35px;
    border: 2px solid #fff;
    justify-content: space-between;
    overflow: hidden;

    &__item {
        background-color: transparent;
        border: none;
        color: #fff;
        padding: 6px 17px;
        font-weight: 500;
        letter-spacing: 0.050em;
        font-size: 12px;

        &_active {
            border-radius: inherit;
            background-color: #fff;
            color: $color-blue;
        }
    }
}

.breadcrumbs {
    list-style: none;
    align-items: center;
    font-size: 14px;

    &__link {
        color: $color-blue;
        position: relative;

        &:after {
            content: '/';
            margin: 0px 4px;
            text-decoration: none;
        }

        &:before {
            position: absolute;
            content: '';
            border-bottom: 1px solid $color-blue;
            width: 85%;
            height: 1px;
            bottom: 0;
        }
    }
}

.number {
    color: #fff;
    font-weight: 500;

    &__small {
        font-size: 20px;
    }
}

.mail {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.050em;
}

.h-contacts {
    &__item {
        align-items: center;
        padding-left: 75px;
        position: relative;
    }

    &__circle {
        position: absolute;
        top: -15px;
        left: 0;
        border-radius: 50%;
        border: 2px solid #fff;
        align-items: center;
        justify-content: center;

        &_big {
            width: 60px;
            height: 60px;
        }

        &_small {
            width: 42px;
            height: 42px;
            top: -3px;
            left: 41px;
        }
    }
}

.address {
    &__circle {
        min-width: 60px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-right: 17px;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin: 0;
        font-weight: 500;
    }
}

.dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    list-style: none;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 6px 0px 10px rgba(#000, 0.2);

    &__item {
        text-align: left;
        font-size: 13px;
        border-bottom: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        white-space: nowrap;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/drop-arrow.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 6px;
            height: 10px;
        }
    }

    &__link {
        color: #212642;
        padding: 13px 32px 13px 22px;
        display: block;
    }
}

.menu {
    list-style: none;
    justify-content: space-between;

    &__item {
        position: relative;
    }

    &__link {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__dropdown {
        min-width: 455px;
        top: 100%;
        left: 0;
    }
}

.partners {
    &__title {
        position: relative;
        font-size: 42px;
        font-weight: 300;
        color: $color-blue;

        &:before {
            content: '';
            position: absolute;
            background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(0, rgba(255, 255, 255, 0)));
            background-image: linear-gradient(to top, #3c9cca 30%, rgba(255, 255, 255, 0) 0);
            background-position: left;
            background-size: 2px 6px;
            background-repeat: repeat-y;
            width: 2px;
            height: 130px;
            z-index: 999;
            left: -1px;
            top: -120px;
        }
    }

    &__slider {
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
    }

    &__container {
        margin-top: -40px;
    }

    &__owlwrap {
        position: relative;
    }

    &__image {
        max-height: 80px;
        width: auto;
    }
}

.slider__nav {
    position: absolute;
    top: 5%;
    width: 100%;
    display: flex;
}

.slider__nav button {
    border: none;
    font-size: 0;
    background-color: transparent;
    position: absolute;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;

}

.partners__slider .owl-item,
.gallery__slider .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__nav .owl-prev,
.gallery__slider .owl-prev {
    background-image: url(../img/arrow_left.png);
    left: -35px;
}

.slider__nav .owl-next,
.gallery__slider .owl-next {
    background-image: url(../img/arrow_right.png);
    right: -35px;
}

.partners__owlwrap .slider__nav .owl-prev:after {
    content: '';
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(0, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to top, #3c9cca 30%, rgba(255, 255, 255, 0) 0);
    background-position: left;
    background-size: 2px 6px;
    background-repeat: repeat-y;
    width: 2px;
    height: 184px;
    z-index: 999;
    left: 49%;
    top: calc(100% + 10px);
}

.promo {
    &__main-title {
        text-transform: uppercase;
        font-weight: 300;
        line-height: 53px;
        letter-spacing: 0.050em;
        padding-left: 30px;
        padding-top: 31px;
    }

    &__form-title {
        position: relative;
        font-weight: 300;
        font-family: $font-roboto;
        margin-bottom: 0;

        &_border {
            &:before {
                content: '';
                position: absolute;
                background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(0, rgba(255, 255, 255, 0)));
                background-image: linear-gradient(to top, #fff 30%, rgba(255, 255, 255, 0) 0);
                background-position: left;
                background-size: 2px 6px;
                background-repeat: repeat-y;
                width: 2px;
                height: 68px;
                z-index: 999;
                left: -1px;
                top: -60px;
            }
        }

    }

    &__form-descr {
        color: #fff;
        font-size: 16px;
        line-height: 21px;
        font-weight: 300;
        font-family: $font-roboto;
    }

    &__top {
        padding: 225px 0px 0px;
        min-height: 950px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__center {
        min-height: 270px;
    }

    &__bottom {
        padding: 150px 0px 100px;
        min-height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__icon {
        margin-top: -25px;
        margin-left: -29px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #3c9cca), color-stop(0, rgba(255, 255, 255, 0)));
            background-image: linear-gradient(to top, #fff 30%, rgba(255, 255, 255, 0) 0);
            background-position: left;
            background-size: 2px 6px;
            background-repeat: repeat-y;
            width: 2px;
            height: 170px;
            z-index: 999;
            left: 49%;
            top: calc(100% + 10px);
        }
    }

    &__container {
        margin-top: 265px;
        align-items: center;
    }
}

.form {
    &__input {
        flex: 1 0;
        margin: 40px 0px 0px;
    }

    &__textarea {
        flex: 1 1 100%;
        margin: 40px 0px 0px;
    }

    &__text {
        color: #fff;
        font-family: $font-roboto;
        font-weight: 300;
        font-size: 14px;
        margin: 16px 0px 0px;
    }

    &__btn {
        width: 266px;
        max-height: 100%;
        font-weight: 500;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 30px;
    }

    &__col {
        &_right {
            margin-top: auto;
        }
    }
}

.products {
    margin: 40px 0px 0px;

    &__title {
        font-size: 56px;
        color: $color-blue;
        font-weight: 300;
    }

    &__forename {
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #7c7c7c;
        font-weight: 500;
    }

    &__col {
        margin: 50px 0px 0px;
    }

    &__head {
        position: relative;
    }

    &__section {
        position: relative;
        background-size: 100%;
        margin: 0px 0px 53px;
        padding: 0px 0px 29px;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 52px;
            width: 100%;
            background-image: url(../img/shadow-line.png);
            background-repeat: no-repeat;
            background-position: center bottom -20px;
        }
    }

    &__row {
        position: relative;
        padding-bottom: 30px;

        &_border-bottom {
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 15px;
                right: 0;
                border-bottom: 1px dashed #7c7c7c;
                width: calc(100% - 30px);
            }
        }
    }

    &__name {
        position: absolute;
        bottom: 17px;
        left: 0;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .050em;
        font-family: $font-roboto;
        color: $color-darkblue;
        padding: 14px 25px;
        background-color: #faf9f6;
        border-radius: 0px 5px 5px 0px;
        text-transform: uppercase;
    }

    &__image {
        border-radius: 4px;
        object-fit: cover;

        &_height-large {
            height: 255px;
        }
    }

    &__description {
        font-size: 14px;
        line-height: 21px;
        color: #7c7c7c;
        padding: 20px 20px 0px;
        font-weight: 500;
    }

    &__circle {
        width: 80px;
        height: 80px;
        border: 2px solid #7d7d7d;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    &__top {
        align-items: center;
    }
}

.products__section .products__row:first-child {
    border-bottom: 1px dashed gray;
}

.products .products__section:last-child {
    box-shadow: none;
}

.products__row_border-bottom .products__col {
    margin-top: 20px;
}

.products__row_border-not .products__col {
    margin-top: 20px;
}

.news {
    margin-top: 70px;

    &__date {
        font-size: 13px;
        font-weight: 300;
        font-style: italic;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/date-icon.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            margin-right: 4px;
            width: 18px;
            height: 18px;
        }
    }

    &__title {
        color: $color-blue;
        font-weight: 300;
        margin-bottom: 0;

        &_main {
            position: relative;
            display: flex;
            align-items: center;

            &:after {
                content: '';
                margin: 0px 7px;
                border-bottom: 1px dashed $color-blue;
                height: 1px;
                width: 87px;
            }
        }

        &_link {
            font-size: 22px;
            padding-top: 10px;
            position: relative;
            border-bottom: 1px solid $color-blue;
        }
    }

    &__text {
        padding: 0px 0px 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80%;
            border-bottom: 1px dashed #9d9d9d;
        }
    }

    &__image {
        border-radius: 4px;
        object-fit: cover;
    }

    &__inset {
        margin-top: 34px;
    }

    &__more {
        color: $color-blue;
        font-size: 13px;
        line-height: 28px;
        border-bottom: 1px solid $color-blue;
        display: inline-block;
        margin-top: 15px;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/open-book_blue.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 18px;
            height: 16px;
            margin-right: 3px;
        }

    }

    &__top {
        align-items: center;
    }
}

.about {
    margin: 50px 0px 0px;

    &__title {
        font-weight: 300;
        letter-spacing: .050em;
        line-height: normal;
        margin-bottom: 33px;
    }

    font-family: $font-roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    min-height: 675px;
    background-image: url(../img/about-back.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 150px 0px 120px;
    color: #fff;
    font-size: 15px;
}

.about p {
    margin-bottom: 18px;
}

.service {
    margin: 30px 0px 0px;

    &__title {
        color: $color-blue;
        font-weight: 300;
        margin-bottom: 0;
    }

    &__head {
        position: relative;
    }

    &__image {
        height: 200px;
        margin-top: 19px;
    }

    &__name {
        position: absolute;
        bottom: 17px;
        left: 0;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .050em;
        font-family: $font-roboto;
        color: $color-darkblue;
        padding: 10px 20px 10px;
        background-color: #faf9f6;
        border-radius: 0px 5px 5px 0px;
        text-transform: uppercase;
    }
}

.reviews {
    margin: 113px 0px 0px;

    &__picture {
        margin: 0 auto;
        position: relative;
        border: 2px solid $color-blue;
        border-radius: 50%;
        width: 130px;
        height: 130px;

        &:before {
            content: '';
            position: absolute;
            right: calc(100% + 13px);
            top: 50%;
            transform: translateY(-50%);
            min-width: 50px;
            height: 35px;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../img/lines_left.png);
        }

        &:after {
            content: '';
            position: absolute;
            left: calc(100% + 13px);
            top: 50%;
            transform: translateY(-50%);
            min-width: 50px;
            height: 35px;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../img/lines_right.png);
        }
    }

    &__image {
        margin: auto;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        object-fit: cover;
        width: 120px;
        height: 120px;
    }

    &__title {
        color: $color-blue;
        font-weight: 300;
    }

    &__text {
        position: relative;
        margin: 7px 0px 10px;
        font-size: 13px;
        line-height: 23px;
        font-weight: 300;
        color: #000;
        padding-bottom: 1px;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80%;
            border-bottom: 1px dashed #9d9d9d;
        }
    }

    &__name {
        display: block;
        font-size: 13px;
        line-height: 19px;
        font-weight: 300;
        color: #575757;
    }

    &__col {
        margin-bottom: 50px;
    }
}

.reviews p {
    margin-bottom: 23px;
}

.footer {
    margin-top: 47px;

    &__row {
        justify-content: space-between;
    }

    &__col {
        max-width: 16%;
        min-width: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 48px;

        &:first-child {
            max-width: 25%;
            min-width: auto;
            justify-content: flex-start;
            margin-top: 0;
        }
    }

    &__title {
        font-size: 12px;
        font-weight: 500;
        color: $color-darkblue;
        text-transform: uppercase;
        line-height: 28px;
        padding-bottom: 18px;
        margin-bottom: 23px;
        border-bottom: 1px dashed #9d9d9d;
    }

    &__menu {
        margin-bottom: auto;
        flex-direction: column;
    }

    &__contacts {
        border-bottom: 1px dashed #9d9d9d;
        padding-bottom: 30px;
    }

    &__social {
        margin: 30px 0px 0px;
    }
}

.footer__menu .menu__item {
    min-height: 60px;
    padding: 9px 0px;
}

.footer__menu .menu__link {
    font-size: 12px;
    font-weight: 700;
    color: $color-blue;
    text-transform: none;
    display: block;
}

.contacts-block {
    list-style: none;

    &__item {
        margin-top: 15px;
        align-items: center;
    }

    &__link {
        font-size: 13px;
        font-weight: 500;
        color: #b4b4b4;
    }

    &__circle {
        width: 49px;
        height: 49px;
        border: 2px solid #b4b4b4;
        border-radius: 50%;
        margin: 0px 11px;
        align-items: center;
        justify-content: center;
    }
}

.social {
    list-style: none;

    &__item {
        margin-right: 10px;
    }

    &__link {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background-color: #2f8ebf;
        align-items: center;
        justify-content: center;
    }
}

.catalog {
    margin: 17px 0px 0px;

    &__title {
        color: $color-blue;
        margin-bottom: 10px;
        margin-top: 38px;
    }

    &__description {
        font-size: 14px;
        line-height: 23px;
    }

    &__pagination {
        margin: 40px auto 0px;
        align-items: center;
        justify-content: center;
    }

    &__card {
        margin-top: 36px;
    }
}

.catalog__description p {
    margin-bottom: 22px;
}

.goods {
    margin: 20px 0px 0px;

    &__row {
        margin-left: -10px;
        margin-right: -10px;
    }

    &__col {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__item {
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        box-shadow: 1px 0px 5px rgba(#000, 0.25);
        position: relative;
        cursor: pointer;
        height: 271px;
    }

    &__image {
        max-width: 100%;
        width: 90%;
        max-height: 200px;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }

    &__name {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin: 0;
        padding: 7px 0px 8px;
        color: $color-darkblue;
    }

    &__descr {
        font-size: 13px;
        line-height: 21px;
        color: $color-darkblue;
    }

    &__hidden {
        display: none;
    }

    &__content {
        padding: 8px 15px;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
    }
}

.goods__item:hover {
    border-color: #2f8ebf;
}

.goods__item:hover .goods__hidden {
    display: block;
}

.pagination {
    list-style: none;

    &__link {
        border: 1px solid #2f8ebf;
        color: #2f8ebf;
        padding: 10px 14px;
        margin: 0px 5px;
        border-radius: 5px;
        display: block;
        font-size: 14px;
    }

    &__item {
        &_prev {
            >a:before {
                content: '';
                display: inline-block;
                vertical-align: 2%;
                background-image: url(../img/arrow_left-small.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                width: 6px;
                height: 10px;
                margin-right: 6px;
            }
        }

        &_next {
            >a:after {
                content: '';
                display: inline-block;
                vertical-align: 2%;
                background-image: url(../img/arrow_right-small.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                width: 6px;
                height: 10px;
                margin-left: 6px;
            }
        }
    }
}

.gallery {
    margin: 100px 0px 50px;

    &__title {
        color: $color-blue;
        font-size: 56px;
    }

    &__slider {
        position: relative;
        width: 90%;
    }

    &__owlwrap {
        position: relative;
    }
}

.gallery .owl-nav button {
    border: none;
    background-color: transparent;
    font-size: 0;
}

.gallery .slider__nav {
    top: 35%;
}

.gallery .owl-prev {
    position: absolute;
    left: -35px;
    background-image: url(../img/arrow_left.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 70px;
}

.gallery .owl-next {
    position: absolute;
    right: -35px;
    background-image: url(../img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 70px;
}

.card-form {
    margin-top: 80px;
}

.s-gallery {
    overflow: hidden;
    margin: 0 auto;

    &__slide {
        position: relative;
        display: block;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        height: 156px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#a2a2a2, 0.7);
            opacity: 0;
            transition: all .45s cubic-bezier(.25, .46, .45, .94);
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 35px;
            opacity: 0;
            background-image: url(../img/search__icon.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            transition: all .55s cubic-bezier(.25, .46, .45, .94);
        }
    }

    &__image {
        margin: auto;
        max-width: 250px;
        max-height: 156px;
        object-fit: cover;
        width: 90%;
        display: block;
    }
}

.catalog-form {
    margin: 75px 0px 0px;
    background-position: inherit;
    padding-top: 150px;
    min-height: 465px;
}

.s-gallery__slide:hover:before {
    opacity: 1;
    transition: all .45s cubic-bezier(.25, .46, .45, .94);
}

.s-gallery__slide:hover:after {
    opacity: 1;
    transition: all .65s cubic-bezier(.25, .46, .45, .94);
}

.card {
    &__name {
        color: $color-blue;
        margin-bottom: 21px;
    }

    &__description {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 17px;
    }

    &__title {
        color: $color-blue;
        margin-bottom: 4px;
    }

    &__carousel {
        position: relative;
        overflow: hidden;
        height: 433px;
        border: 1px solid #d1d1d1;
    }

    &__spec {
        margin-top: 20px;
    }
}


.card__carousel .owl-stage-outer,
.card__carousel .owl-stage {
    height: inherit;
}

.card__carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: transalateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 20px;
}

.card__carousel .owl-nav button {
    border: none;
    background-color: transparent;
    outline: none;
}

.card__carousel .owl-prev {
    background-image: url(../img/card-arrow_left.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 27px;
    height: 47px;
}

.card__carousel .owl-next {
    background-image: url(../img/card-arrow_right.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 27px;
    height: 47px;
}

.c-dots {
    margin-top: 5px;

    &__image {
        display: block;
        width: 134px;
        height: 125px;
        object-fit: cover;
        opacity: .5;
        transition: opacity .3s ease-out;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0;
        border: none;
        background: transparent;
        border: 1px solid #d1d1d1;
    }

    &__row {
        margin-left: -3px;
        margin-right: -3px;
        overflow: hidden;
    }

    &__item {
        padding: 0px 3px;
    }
}

.c-dots__item.active .c-dots__image {
    opacity: 1;
    transition: opacity .3s ease-in;
    border: 2px solid $color-blue;
}

.owl-stage {
    display: flex;
}

.main {
    &__top {
        margin: 20px 0px 0px;
        justify-content: space-between;
        align-items: center;
    }
}

.search {
    &__input {
        width: 276px;
        height: 38px;
        max-width: 100%;
        border: 1px solid #d1d1d1;
        border-radius: 5px 0px 0px 5px;
        font-size: 14px;

        @include inputPlaceholder() {
            color: #8b8b8b;
        }

        color: #8b8b8b;
    }

    &__btn {
        width: 40px;
        border: none;
        background: transparent;
        border-radius: 0px 5px 5px 0px;
        background-color: $color-darkblue;
        background-image: url(../img/search__icon-small.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40%;
    }
}

.tags {
    list-style: none;
    margin: 0px -5px;

    &__item {
        padding: 0px 5px;
    }

    &__link {
        display: block;
        background-color: $color-darkblue;
        border: 1px solid $color-darkblue;
        color: #fff;
        padding: 10px;
        border-radius: 35px;
        font-size: 13px;
    }
}

.tags__link_active {
    background-color: transparent;
    color: $color-darkblue;
}

.spec {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    border-collapse: collapse;

    &__name {
        border-collapse: collapse;
        border-bottom: 1px solid #d1d1d1;
        flex: 1 1 50%;
        padding: 11px 15px;
    }
}

.spec__line .spec__name:first-child,
.spec__header .spec__name:first-child {
    border-right: 1px solid #d1d1d1;
}

.spec__header .spec__name {
    background-color: #dedede;
    text-align: center;
}

.icon {
    display: inline-block;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 15px;
    height: 18px;
}

.icon-copy_gray {
    background-image: url(../img/copyright_icon.png);
}

.icon-phone_gray {
    background-image: url(../img/phone-call_grey.png);
    width: 18px;
    height: 18px;
}

.icon-mail_gray {
    background-image: url(../img/e-mail-envelope_gray.png);
    width: 18px;
    height: 13px;
}

.icon-like {
    background-image: url(../img/like-icon.png);
    width: 58px;
    height: 61px;
}

.icon-address {
    background-image: url(../img/direction_icon.png);
    width: 21px;
    height: 19px;
}

.icon-phone {
    background-image: url(../img/phone-call.png);
    width: 21px;
    height: 21px;
}

.icon-mail {
    background-image: url(../img/email_icon.png);
    width: 16px;
    height: 12px;
}

.menu__dropdown {
    display: none;
}

.menu__dropdown .dropdown {
    display: none;
}

.menu__item {
    position: relative;
    z-index: 100;
}

.menu__link {
    position: relative;
    z-index: 10;
}


.menu__item_drop:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: calc(100% + 27px);
    padding: 10px 0;
    z-index: 1;
    left: 0;
    top: -28px;
    -webkit-box-shadow: 0 15px 65px 0 rgba(0, 0, 0, .17), 0 15px 65px 0 rgba(0, 0, 0, .17);
    box-shadow: 0 15px 65px 0 rgba(0, 0, 0, .17), 0 15px 65px 0 rgba(0, 0, 0, .17);
    border-radius: 4px 4px 0 0;
    opacity: 0;
    transform: translateY(15px);
}

.menu__item_drop > .menu__link:after {
    content: '';
    position: absolute;
    vertical-align: middle;
    top: 35%;
    background-image: url(../img/arrow-down-sign-to-navigate.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 10px;
    height: 6px;
    margin-left: 12px;
    opacity: 0;
}

.menu__dropdown {
    top: calc(100% + 13px);
}

// hover

.menu__item_drop:hover > .menu__link:after{
    opacity: 1;
}

.menu__item_drop:hover:before{
    opacity: 1;
}

.menu__item_drop:hover >.menu__link {
    color: $color-darkblue;
    font-weight: 700;
}

.menu__item_drop:hover {
    color: $color-darkblue;
}

.menu__item_drop:hover>.menu__dropdown {
    display: block;
}

.dropdown__item:hover>.dropdown {
    display: block;
}

.dropdown__item:hover {
    border-left: 1px solid $color-blue;
}

.dropdown__item:hover:after {
    background-image: url(../img/drop-arrow_white.png);
}

.dropdown__item:hover>.dropdown__link {
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: $color-blue;
    color: #fff;
}

.dropdown__item_arrow-not:after {
    background-image: none;
    display: none;
}

.menu__link:hover{
    color: $color-blue;
}

.footer__menu .menu__link:hover{
    text-decoration: underline;
}

.pagination__link:hover{
    background-color: $color-blue;
    color: #fff;
}

.pagination__item_prev > a:hover,
.pagination__item_next > a:hover{
    color: #000;
    background-color: #fff;
}

.owl-prev:hover, .owl-next:hover{
    opacity: .5;
}

.contacts-block__link:hover{
    color: #000;
    font-weight: 500;
}


@import "partials/media";