@import "vars";


@media only screen and (max-width: 1320px) {

    .header {
        &__logo {
            margin-left: 0;
        }

        &__contacts {
            margin-left: 0;
        }

        &__circle {
            margin-left: 0px;
        }

        &__language {
            margin: auto;
        }

        &__address {
            margin-left: 10px;
        }
    }

    .header__circle:after {
        display: none;
    }

    .promo {
        &__icon {
            margin-left: 0px;
        }
    }

    .partners {

        &__container {
            max-width: 1165px;
            padding-left: 44px;
            padding-right: 44px;
        }
    }
}


@media only screen and (max-width: 1200px) {
    .container {
        padding-left: 44px;
        padding-right: 44px;
    }

    .promo__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__container {
        padding-left: 15px;
        padding-right: 15px;
    }


    .header {

        &__number {
            font-size: 20px;
        }
    }

    .footer {
        &__col {
            min-width: auto;
        }

        &__title {
            font-size: 10px;
        }
    }

    .footer__menu .menu__link {
        font-size: 10px;
    }

    .footer__menu .menu__item {
        min-height: 50px;
    }

    .footer .logo img {
        max-width: 100%;
        height: auto;
    }

    .contacts-block {

        &__circle {
            margin-left: 0px;
        }
    }

}


@media only screen and (max-width: 1100px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__circle {
        display: none;
    }

    .promo__icon {
        display: none;
    }

    .partners__title:before {
        display: none;
    }

    .partners__owlwrap .slider__nav .owl-prev:after {
        display: none;
    }

    .promo__form-title_border:before {
        display: none;
    }

    .gallery__slider .owl-prev,
    .slider__nav .owl-prev {
        left: 0;
    }

    .gallery__slider .owl-next,
    .slider__nav .owl-next {
        right: 0;
    }

    .promo__main-title {
        padding-left: 0;
    }

    .header__logo > img{
        width: 200px;
    }
}



@media only screen and (max-width: 1023px) {

    .footer {

        &__row {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .reviews {

        &__row {
            flex-wrap: wrap;
        }

        &__col {
            width: 50%;
        }
    }

    .news {

        &__row {
            flex-wrap: wrap;
        }
    }

    .form {
        &__row {
            flex-wrap: wrap;
        }

        &__col {
            width: 100%;
            margin-top: 20px;

            &_right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-left: auto;
            }
        }
    }

    .service {
        &__row {
            flex-wrap: wrap;
        }

        &__ {
            min-width: 280px;
        }
    }

    .main__top {
        flex-wrap: wrap;
    }

    .main__top .search {
        margin-top: 20px;
    }

    .goods__row {
        justify-content: space-around;
    }

    .goods__col {
        width: auto;
    }

    .promo__slide{
        min-height:700px;
    }

    .promo__container {
        top: 300px;
    }

    .promo__main-title{
        font-size: 42px;
        line-height: normal;
    }

    .header__address {
        display: none;
    }

    .header{
        min-height: auto;
        padding: 15px 0px 25px;
    }

    .header__bottom{
        display: none;
    }

    .footer__title{
        padding-bottom: 0;
    }

    .header__logo > img{
        width: 170px;
    }

}


@media only screen and (max-width: 767px) {
    .products__col.col-4 {
        min-width: 280px;
    }

    .products {
        &__row {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__name {
            font-size: 10px;
        }

        &__circle {
            min-width: 32px;
            height: 32px;
            border-width: 1px;
            padding: 5px;
        }
    }

    .products__circle img {
        max-width: 100%;
        height: auto;
        display: block;
        width: 20px;
    }

    .products__image_height-large {
        height: auto;
    }

    .about {
        background-image: none;
        background-color: #153950;
        padding: 20px 0px 20px;

        &__row {
            flex-wrap: wrap;
        }

        &__col {
            width: 100%;
        }
    }

    .news {

        &__col {
            width: 100%;
            margin-bottom: 30px;
        }

        &__inset {
            flex-wrap: wrap;
        }

        &__title {
            flex: 1 0 100%;
        }

        &__top {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    .promo__main-title {
        font-size: 32px;
        line-height: normal;
    }

    .promo__slide {
        min-height: 540px;
    }

    .promo__center {
        background-image: none;
        min-height: auto;
    }

    .partners__container {
        padding-top: 0;
        margin-top: 0;
    }

    .service {

        &__row {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__col {
            min-width: 280px;
            width: auto;
        }
    }

    .catalog__description {
        font-size: 12px;
        line-height: normal;
    }

    .catalog__pagination {
        flex-wrap: wrap;
    }

    .pagination__link {
        margin-bottom: 20px;
        font-size: 12px;
    }



    .gallery {
        margin: 20px 0px 40px;
    }

    .slider__nav button {
        width: 30px;
        height: 30px;
    }

    .gallery .owl-next,
    .gallery .owl-prev {
        width: 30px;
        height: 30px;
    }


    .card{
    	&__row{
    		flex-wrap: wrap;
    	}

    	&__carousel{
    		height: 300px;
    	}

    	&__col{
    		width: auto;
    		max-width: 100%;
    	}
    }

    .c-dots__image{
    	width: 50px;
    	height: 50px;
    }

    .c-dots__row{
    	overflow-x: scroll;
    }

    .spec {
    	font-size: 12px;
    }

    .footer__col:first-child{
        max-width: max-content;
    }

    .footer__col {
        max-width: max-content;
        width: auto;
    }

    .header__contacts{
        display: none;
    }

}


@media only screen and (max-width: 580px) {

    .title {
        &_h2 {
            font-size: 26px;
        }
    }


    .products {

        &__forename {
            font-size: 12px;
            line-height: normal;
        }

        &__col {
            width: 100%;
        }

        &__description {
            font-size: 12px;
            line-height: normal;
        }
    }

    .reviews {

        &__col {
            width: 100%;
        }
    }

    .news__title_main:after {
        display: none;
    }

    .form {

        &__input {
            width: 100%;
        }
    }

    .goods__item {
        height: auto;
    }

    .search__input {
        width: 100%;
    }
    .gallery .owl-next {
        right: -15px;
    }

    .gallery .owl-prev {
        left: -15px;
    }

    .pagination__item_next>a:after,
    .pagination__item_prev>a:before {
        vertical-align: -1px;
    }
    .breadcrumbs__item{
    	margin-bottom: 5px;
    }

    .tags{
    	flex-wrap: wrap;
    }

    .tags__item{
    	margin-bottom: 10px;
    }

    .form__input{
        flex: 1 1 100%;
    }

}


@media only screen and (max-width: 400px) {
    .pagination__item_prev {
        flex: 2 0 50%;
        order: 1;
        text-align: center;
    }

    .pagination__item_next {
        flex: 2 0 50%;
        order: 2;
        text-align: center;
    }
}